{% extends 'layout/base.html' %}
{% load staticfiles %}

{% block related_subjects %}
{% endblock related_subjects %}

{% block sidebar %}
    <div class="col-sm-6">
        <div class="video-wrapper">
            <iframe src="http://www.youtube.com/embed/L2LNK2MW_xQ" allowfullscreen="" height="480" width="853"></iframe>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-sm-6">
        <h1>Welcome to The Smartway</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu tellus ipsum. Nunc maximus sapien ac dui vulputate tincidunt. Morbi luctus nisi vel suscipit volutpat. Donec vitae auctor nisl. Ut malesuada felis in erat rutrum ultrices. Fusce iaculis ornare nunc rutrum ornare. Proin ut placerat enim, vel venenatis urna. Phasellus sed diam tincidunt mauris malesuada mattis et in nisl. Quisque massa eros, molestie at mi eget, aliquam tristique eros. Nullam aliquet placerat magna ut eleifend. Phasellus iaculis tristique laoreet.</p>
        <ul>
            <li>Fusce iaculis ornare nunc rutrum ornare.</li>
            <li>Proin ut placerat enim, vel venenatis urna.</li>
            <li>Phasellus sed diam tincidunt mauris malesuada mattis et in nisl.</li>
            <li>Quisque massa eros, molestie at mi eget, aliquam tristique eros.</li>
            <li>Nullam aliquet placerat magna ut eleifend.</li>
            <li>Phasellus iaculis tristique laoreet.</li>
        </ul>
    </div>
{% endblock %}
