{% extends 'layout/base.html' %}
{% load staticfiles %}

{% block related_subjects %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
{% endblock content %}

<!-- ========== CONTENT START ========== -->
{% block precontent %}

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="video-wrapper">
                    <iframe width="853" height="480" src="http://www.youtube.com/embed/L2LNK2MW_xQ" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-6">
                <h1>Meet our staff</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu tellus ipsum. Nunc maximus sapien ac dui vulputate tincidunt. Morbi luctus nisi vel suscipit volutpat. Donec vitae auctor nisl. Ut malesuada felis in erat rutrum ultrices. Fusce iaculis ornare nunc rutrum ornare. Proin ut placerat enim, vel venenatis urna. Phasellus sed diam tincidunt mauris malesuada mattis et in nisl. Quisque massa eros, molestie at mi eget, aliquam tristique eros. Nullam aliquet placerat magna ut eleifend. Phasellus iaculis tristique laoreet.</p>
                <ul>
                    <li>Fusce iaculis ornare nunc rutrum ornare.</li>
                    <li>Proin ut placerat enim, vel venenatis urna.</li>
                    <li>Phasellus sed diam tincidunt mauris malesuada mattis et in nisl.</li>
                    <li>Quisque massa eros, molestie at mi eget, aliquam tristique eros.</li>
                    <li>Nullam aliquet placerat magna ut eleifend.</li>
                    <li>Phasellus iaculis tristique laoreet.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- ========== CONTENT END ========== -->

<!-- ========== TEACHERS START ========== -->

<section id="teachers" class="alt-background">
    <div class="container">
        
        <h2>Teachers</h2>

        <ul class="teachers">
            
            {% for teacher in teacher_list %}
            <li class="col-lg-3 col-md-4 col-sm-6">
                <img src="{{ teacher.avatar }}" alt="No image" class="img-responsive" />
                <div class="description">
                    <h3>{{ teacher.username }}</h3>
                    <p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor.</p>
                    <a href="{% url 'teachers:detail' teacher.pk %}">Read More <i class="fa fa-angle-right"></i></a>
                </div>
            </li>
            {% endfor %}

        </ul>

    </div>
</section>

<!-- ========== TEACHERS END ========== -->

<!-- ========== SKILLS START ========== -->

<section id="skills">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Our key skills</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu tellus ipsum. Nunc maximus sapien ac dui vulputate tincidunt. Morbi luctus nisi vel suscipit volutpat. Donec vitae auctor nisl. Ut malesuada felis in erat rutrum ultrices. Fusce iaculis ornare nunc rutrum ornare. Proin ut placerat enim, vel venenatis urna. Phasellus sed diam tincidunt mauris malesuada mattis et in nisl. Quisque massa eros, molestie at mi eget, aliquam tristique eros. Nullam aliquet placerat magna ut eleifend. Phasellus iaculis tristique laoreet.Donec vitae auctor nisl. Ut malesuada felis in erat rutrum ultrices. Fusce iaculis ornare nunc rutrum ornare. Proin ut placerat enim, vel venenatis urna. Phasellus sed diam tincidunt mauris malesuada mattis et in nisl. Quisque massa eros, molestie at mi eget, aliquam tristique eros.</p>
            </div>
            <div class="col-sm-6">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" data-transitiongoal="90">
                        <span class="pull-left">Progresssive Web Design</span>
                        <span class="pull-right">90%</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" data-transitiongoal="100">
                        <span class="pull-left">HTML5</span>
                        <span class="pull-right">100%</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" data-transitiongoal="80">
                        <span class="pull-left">CSS3</span>
                        <span class="pull-right">80%</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" data-transitiongoal="70">
                        <span class="pull-left">jQuery</span>
                        <span class="pull-right">70%</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" data-transitiongoal="80">
                        <span class="pull-left">Online Marketing</span>
                        <span class="pull-right">80%</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" data-transitiongoal="90">
                        <span class="pull-left">SEO</span>
                        <span class="pull-right">90%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ========== SKILLS END ========== -->
{% endblock precontent %}
