{% extends 'admin/layout/base.html' %}
{% load staticfiles %}

{% block 'css' %}
{% endblock %}

{% block 'content' %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Course
            <small>Update</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/admin/course">Course</a></li>
            <li class="active">Update</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <form action="" method="POST">
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <div class="pull-left">
                                <a class="btn btn-xs btn-warning" href="/admin/course/">Back</a>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            {% csrf_token %}

                            <div class="form-group {% if form.name.errors %} has-error {% endif %}">
                                <label for="{{ form.name.id_for_label }}">Name:</label>
                                <input name="{{ form.name.name }}" type="text" class="form-control" value="{{ form.name.value|default_if_none:"" }}" placeholder="Enter name">
                                <span class="help-block">{{ form.name.errors }}</span>
                            </div>

                            <div class="form-group">
                                <label for="{{ form.description.id_for_label }}">Description:</label>
                                <textarea class="form-control" name="{{ form.description.name }}" placeholder="Enter {{ form.description.name }}">{{ form.description.value|default_if_none:"" }}</textarea>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary pull-right">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </section>
    <!-- /.content -->
{% endblock %}

{% block 'js' %}
    <script src="{% static 'admin/plugins/input-mask/jquery.inputmask.js' %}"></script>
    <script src="{% static 'admin/plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
    <script src="{% static 'admin/plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>

    <script type="text/javascript">
        $(function() {
            $(".datemask").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
        })
    </script>
{% endblock %}
