{% extends 'admin/layout/base.html' %}
{% load staticfiles %}

{% block 'css' %}
    <link rel="stylesheet" href="{% static 'admin/plugins/select2/select2.min.css' %}">
{% endblock %}

{% block 'content' %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Subject
            <small>Detail</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'admin:dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="{% url 'admin:list_subject' %}"> Subject</a></li>
            <li class="active">Detail</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive" src="{{ subject.get_image_url }}" alt="{{ subject.name }}">
                        <h3 class="profile-username text-center">{{ subject.name }}</h3>
                        <p class="text-muted text-center">{{ subject.course }}</p>
                        <ul class="list-group list-group-unbordered">
                            {% for session in sessions %}
                                <li class="list-group-item">
                                    <b>{{ forloop.counter }}. Start - End</b> <a class="pull-right">{{ session.start_date|date:'d/m/Y' }} - {{ session.end_date|date:'d/m/Y' }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <!-- About Me Box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Info</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <strong><i class="fa fa-map-marker margin-r-5"></i> Course</strong>
                        <p class="text-muted">{{ subject.course }}</p>
                        <hr>
                        <strong><i class="fa fa-pencil margin-r-5"></i> Categories</strong>
                        <p>
                            {% for category in subject.categories.all %}
                                <span class="label label-danger">{{ category.name }}</span>
                            {% endfor %}
                        </p>
                        <hr>
                        <strong><i class="fa fa-file-text-o margin-r-5"></i> Description</strong>
                        <p>{{ subject.description }}.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#task" data-toggle="tab">Task</a></li>
                        <li><a href="#reviews" data-toggle="tab">Reviews</a></li>
                        <li><a href="#sessions" data-toggle="tab">Sessions</a></li>
                        <li><a href="#endrolls" data-toggle="tab">Endroll</a></li>
                    </ul>
                    <div class="tab-content">                        
                        <div class="active tab-pane" id="task">
                            <form class="form-horizontal" method="POST" action="{% url 'admin:create_task' %}">
                                {% csrf_token %}
                                <!--<div class="form-group {% if messages %} has-error {% endif %}">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-10">
                                        {% for message in messages %}                                        
                                            <span class="help-block">{{ message }}</span>
                                        {% endfor %}
                                    </div>
                                </div>-->
                                
                                <div class="form-group">
                                    <label for="inputName" class="col-sm-2 control-label">Session</label>
                                    <div class="col-sm-10">
                                        <select class="form-control select2" name="session" data-placeholder="Select session" style="width: 100%;">
                                            {% for session in sessions  %}
                                                <option value="{{ session.id }}">{{ session.start_date|date:'d/m/Y' }} - {{ session.end_date|date:'d/m/Y' }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputName" class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-10">
                                        <input id="id_name" type="text" class="form-control" name="name" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputName" class="col-sm-2 control-label">Slug</label>
                                    <div class="col-sm-10">
                                        <input id="id_slug" type="text" class="form-control" name="slug" />
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="inputName" class="col-sm-2 control-label">Content</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="content"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputName" class="col-sm-2 control-label">Start Date</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input name="start_date" type="text" class="datemask form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputName" class="col-sm-2 control-label">End Date</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input name="end_date" type="text" class="datemask form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-danger">Save Task</button>
                                    </div>
                                </div>
                            </form>

                            <hr/>

                            <table class="table table-bordered">
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Session</th>
                                    <th>Name</th>
                                    <th>Content</th>
                                    <th class="text-center" style="width: 200px">Action</th>
                                </tr>
                                {% for task in tasks %}
                                    <tr>
                                        <td>{{ task.id }}.</td>
                                        <td>{{ task.session.start_date|date:'d/m/Y' }} - {{ task.session.end_date|date:'d/m/Y' }}.</td>
                                        <td>{{ task.name }}</td>
                                        <td>{{ task.content }}</td>                                    
                                        <td class="text-center">                                        
                                            <a href="#" data-href="{% url 'admin:delete_task' task.id %}" data-toggle="modal" data-target="#confirm-delete">
                                                <span class="badge bg-red">Delete</span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="reviews">
                            {% for review in reviews %}
                                <!-- Post -->
                                <div class="post">
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm" src="{% static 'admin/dist/img/user1-128x128.jpg' %}" alt="user image">
                                        <span class="username">
                                        <a href="#">{{ review.student.profile.user.username }}.</a>
                                        <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                                        </span>
                                        <span class="description">{{ review.created_date }}</span>
                                    </div>
                                    <!-- /.user-block -->
                                    <p>
                                        {{ review.content }}.
                                    </p>                                    
                                </div>
                                <!-- /.post -->
                            {% endfor %}
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="sessions">                                                        
                            <form class="form-horizontal" method="POST" action="{% url 'admin:create_session' %}">
                                {% csrf_token %}
                                <div class="form-group {% if messages %} has-error {% endif %}">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-10">
                                        {% for message in messages %}
                                            {% if message.id == "session" %}
                                                <span class="help-block">{{ message.msg }}</span>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>

                                <input type="hidden" value="{{ subject.pk }}" name="subject">
                                <div class="form-group {% if form_session.start_date.errors %} has-error {% endif %}">
                                    <label for="inputName" class="col-sm-2 control-label">Start Date</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input name="start_date" type="text" class="datemask form-control" value="{{ form_session.start_date.value|default_if_none:"" }}" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
                                        </div>
                                        <span class="help-block">{{ form_session.start_date.errors }}</span>
                                    </div>
                                </div>

                                <div class="form-group {% if form_session.end_date.errors %} has-error {% endif %}">
                                    <label for="inputName" class="col-sm-2 control-label">End Date</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input name="end_date" type="text" class="datemask form-control" value="{{ form_session.end_date.value|default_if_none:"" }}" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
                                        </div>
                                        <span class="help-block">{{ form_session.end_date.errors }}</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-danger">Save Session</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="endrolls">                            
                            <table class="table table-bordered">
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Session</th>
                                    <th>Subject</th>
                                    <th>User</th>
                                    <!--<th class="text-center" style="width: 200px">Action</th>-->
                                </tr>
                                {% for endroll in endrolls %}
                                    <tr>
                                        <td>{{ endroll.id }}.</td>
                                        <td>{{ endroll.session.start_date|date:'d/m/Y' }} - {{ endroll.session.end_date|date:'d/m/Y' }}.</td>
                                        <td>{{ endroll.session.subject.name }}</td>
                                        <td>{{ endroll.content }}</td>
                                        <td>{{ endroll.student.profile.user.username }}</td>
                                        <!--<td class="text-center">                                        
                                            <a href="#" data-href="" data-toggle="modal" data-target="#confirm-delete">
                                                <span class="badge bg-red">Delete</span>
                                            </a>
                                        </td>-->
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block 'js' %}
    <script src="{% static 'admin/plugins/input-mask/jquery.inputmask.js' %}"></script>
    <script src="{% static 'admin/plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
    <script src="{% static 'admin/plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>
    <script src="{% static 'admin/plugins/select2/select2.full.min.js' %}"></script>
    <script type="text/javascript">
        $(".select2").select2();
        $(function() {
            $(".datemask").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
        });

        $("#id_name").keyup(function(){
            var str = $(this).val();
            str = str.toLowerCase();
            str= str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g,"a");
            str= str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g,"e");
            str= str.replace(/ì|í|ị|ỉ|ĩ/g,"i");
            str= str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g,"o");
            str= str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g,"u");
            str= str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g,"y");
            str= str.replace(/đ/g,"d");
            str= str.replace(/!|@|\$|%|\^|\*|\(|\)|\+|\=|\&lt;|\&gt;|\?|\/|,|\.|\:|\'| |\"|\&amp;|\#|\[|\]|~/g,"-");
            str= str.replace(/-+-/g,"-"); //thay thế 2- thành 1-
            str= str.replace(/^\-+|\-+$/g,"");//cắt bỏ ký tự - ở đầu và cuối chuỗi
            str = str.replace(/[^a-zA-Z0-9]+/g,'-');
            $("#id_slug").val(str);        
        });
    </script>
{% endblock %}
