{% extends 'layout/base.html' %}
{% load staticfiles %}

{% block related_subjects %}
{% endblock related_subjects %}

{% block content %}
    <!-- ==== BLOG START == -->
    <div class="col-sm-8">
        <!-- ==== POST START == -->

        <div class="post row">
            <div class="col-md-12">
                <img src="{{ object.get_image_url }}" alt="" class="img-responsive post-cover" />
                <div class="post-date">
                    <div class="post-day">28</div>
                    <div class="post-month">Sep</div>
                </div>
                <h1>Morbi nec quam sed elit pharetra</h1>
                <div class="meta">
                    <span><i class="fa fa-user"></i><a href="{% url 'teachers:detail' object.teacher.pk %}">{{ object.teacher.username }}</a></span>
                    <span><i class="fa fa-comments"></i><a href="#">{{ object.comments.count }}</a></span>
                </div>
                <p class="intro">
                    {{ object.content|safe }}
                </p>
                
                <p><a href="{% url 'blog:index' %}" class="btn btn-primary">Back</a></p>
            </div>
        </div>

        <!-- ==== POST END == -->

        <!-- ==== COMMENTS START ==== -->
        {% if comments|length > 0%}
            <div class="row">
                <div class="col-sm-12">
                    <h3>Comments</h3>
                    <ul class="media-list">
                        {% for comment in comments %}
                            <li class="media">
                                <a class="pull-left media-photo" href="#"><img class="media-object img-responsive" src="{% static 'frontend/images/comment1.jpg' %}" alt="" /></a>
                                <div class="media-body">
                                    <h5 class="media-heading">{{ comment.profile.user.username }}</h5>
                                    <p class="meta">
                                        <span><i class="fa fa-calendar"></i>{{ comment.create_date|date:'d/m/Y' }}</span>
                                    </p>
                                    <p>{{ comment.content }}.</p>                                    
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <!-- ==== COMMENTS END ==== -->

        <!-- ==== COMMENT FORM START ==== -->
        {% if user.is_authenticated %}
            <div class="row">
                <div class="col-sm-12" data-scroll-reveal>
                    <hr>
                    <h3>Write a Comment</h3>
                </div>
            </div>
            <form role="form" method="POST" action="{% url 'comment:create' %}">
                {% csrf_token %}
                <input type="hidden" name="blog" value="{{ object.pk }}" />
                <div class="row" data-scroll-reveal>
                    <div class="form-group col-sm-12">
                        <textarea name="content" class="form-control" rows="5"></textarea>
                    </div>
                </div>
                <div class="row" data-scroll-reveal>
                    <div class="form-group col-sm-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        {% endif %}
        <!-- ==== COMMENTS FORM END ==== -->
    </div>
    <!-- ==== BLOG END == -->
{% endblock %}
