<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Smartway - HTML Template">
		<meta name="author" content="Coffeecream Themes, info@coffeecream.eu">
		<title>Smartway - HTML Template</title>
		<link rel="shortcut icon" href="images/favicon.png">

		<!-- Main Stylesheet -->
		<link href="css/style.css" rel="stylesheet">

		<!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->

	</head>
	<body >

		<!-- ========== HEADER START ========== -->

		<header>

			<!-- ==== TOOLS START ==== -->
			<div class="tools">
				<div class="container">
					<ul class="pull-left">
						<li><a href="tel:1800123456"><i class="fa fa-phone"></i><span>1800-123-456</span></a></li>
						<li><a href="mailto:info@smartway.com"><i class="fa fa-envelope"></i><span>info@smartway.com</span></a></li>
					</ul>
					<nav class="pull-right">
						<ul>
							<li><a href="login.html"><i class="fa fa-user"></i><span>Register</span></a></li>
							<li><a href="login.html"><i class="fa fa-lock"></i><span>Log In</span></a></li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- ==== TOOLS END ==== -->

			<!-- ==== NAVBAR START ==== -->
			<div class="navbar navbar-default navbar-static-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="index.html" class="navbar-brand"><img src="images/logo.png" alt="Smartway - HTML Template" class="img-responsive logo" /></a>
					</div>
					<nav class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="index.html">Home</a></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="courses-list-left-sidebar.html">Courses List - Left Sidebar</a></li>
									<li><a href="courses-list-right-sidebar.html">Courses List - Right Sidebar</a></li>
									<li class="divider"></li>
									<li><a href="courses-details-left-sidebar.html">Course Details - Left Sidebar</a></li>
									<li><a href="courses-details-right-sidebar.html">Course Details - Right Sidebar</a></li>
									<li class="divider"></li>
									<li><a href="upcoming-exams-grid.html">Upcoming Exams - Grid</a></li>
									<li><a href="upcoming-exams-left-sidebar.html">Upcoming Exams - Left Sidebar</a></li>
									<li><a href="upcoming-exams-right-sidebar.html">Upcoming Exams - Right Sidebar</a></li>
								</ul>
							</li>
							<li><a href="about.html">About</a></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Teachers<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="teachers-list.html">Teachers List</a></li>
									<li><a href="teachers-profile.html">Teacher's Profile</a></li>
								</ul>
							</li>
							<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="blog-list-full-width.html">Blog List - Full Width</a></li>
									<li><a href="blog-list-left-sidebar.html">Blog List - Left Sidebar</a></li>
									<li><a href="blog-list-right-sidebar.html">Blog List - Right Sidebar</a></li>
									<li class="divider"></li>
									<li><a href="blog-masonry-2-columns.html">Blog Masonry - 2 Columns</a></li>
									<li><a href="blog-masonry-3-columns.html">Blog Masonry - 3 Columns</a></li>
									<li><a href="blog-masonry-4-columns.html">Blog Masonry - 4 Columns</a></li>
									<li class="divider"></li>
									<li><a href="blog-article-full-width.html">Blog Article - Full Width</a></li>
									<li class="active"><a href="blog-article-left-sidebar.html">Blog Article - Left Sidebar</a></li>
									<li><a href="blog-article-right-sidebar.html">Blog Article - Right Sidebar</a></li>
								</ul>
							</li>
							<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Gallery<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="gallery-3-columns.html">3 Columns Gallery</a></li>
									<li><a href="gallery-4-columns.html">4 Columns Gallery</a></li>
								</ul>
							</li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- ==== NAVBAR END ==== -->

		</header>

		<!-- ========== HEADER END ========== -->

		<!-- ========== TITLE START ========== -->

		<div class="title">
			<div class="title-image"></div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						Blog
					</div>
				</div>
			</div>
		</div>

		<!-- ========== TITLE END ========== -->

		<!-- ========== CONTENT START ========== -->

		<section id="content">
			<div class="container">
				<div class="row">

					<!-- ==== SIDEBAR START == -->

					<div class="col-sm-4">

						<!-- ==== CATEGORIES START == -->
						<div class="widget" data-scroll-reveal>
							<h3>Categories</h3>
							<ul>
								<li><a href="#"><i class="fa fa-arrow-right"></i><span>Image</span></a></li>
								<li><a href="#"><i class="fa fa-arrow-right"></i><span>Gallery</span></a></li>
								<li><a href="#"><i class="fa fa-arrow-right"></i><span>Video</span></a></li>
								<li><a href="#"><i class="fa fa-arrow-right"></i><span>Audio</span></a></li>
								<li><a href="#"><i class="fa fa-arrow-right"></i><span>News</span></a></li>
							</ul>
						</div>
						<!-- ==== CATEGORIES END == -->

						<!-- ==== NEWSLETTER START == -->
						<div class="widget" data-scroll-reveal>
							<h3>Newsletter</h3>
							<form role="form" name="newsletter-form" id="newsletter-form" action="process-newsletter.php">
								<div class="form-group" id="newsletter-name-group">
									<div class="input-group">
										<input type="text" class="form-control" id="newsletter-input-name" placeholder="Name">
										<div class="input-group-addon"><i class="fa fa-user"></i></div>
									</div>
								</div>
								<div class="form-group" id="newsletter-email-group">
									<div class="input-group">
										<input type="email" class="form-control" id="newsletter-input-email" placeholder="Email">
										<div class="input-group-addon"><i class="fa fa-envelope"></i></div>
									</div>
								</div>
								<button type="submit" class="btn btn-primary">Submit</button>
							</form>
						</div>
						<!-- ==== NEWSLETTER END == -->

						<!-- ==== LATEST POSTS START == -->
						<div class="widget" data-scroll-reveal>
							<h3>Latest posts</h3>
							<div class="post row">
								<div class="col-md-4">
									<a href="#"><img src="images/sidebar-post1.jpg" alt="" class="img-responsive" /></a>
								</div>
								<div class="col-md-8">
									<h5><a href="#">Morbi nec quam sed elit pharetra</a></h5>
									<div class="meta">Posted Aug 18, 2015 by John Doe in Category Name</div>
								</div>
							</div>
							<div class="post row">
								<div class="col-md-4">
									<a href="#"><img src="images/sidebar-post2.jpg" alt="" class="img-responsive" /></a>
								</div>
								<div class="col-md-8">
									<h5><a href="#">Morbi nec quam sed elit pharetra</a></h5>
									<div class="meta">Posted Aug 18, 2015 by John Doe in Category Name</div>
								</div>
							</div>
							<div class="post row">
								<div class="col-md-4">
									<a href="#"><img src="images/sidebar-post3.jpg" alt="" class="img-responsive" /></a>
								</div>
								<div class="col-md-8">
									<h5><a href="#">Morbi nec quam sed elit pharetra</a></h5>
									<div class="meta">Posted Aug 18, 2015 by John Doe in Category Name</div>
								</div>
							</div>
						</div>
						<!-- ==== LATEST POSTS END == -->

						<!-- ==== TAGS START == -->
						<div class="widget" data-scroll-reveal>
							<h3>Tags</h3>
							<a href="#" class="tag">image</a>
							<a href="#" class="tag">audio</a>
							<a href="#" class="tag">video</a>
							<a href="#" class="tag">gallery</a>
							<a href="#" class="tag">news</a>
							<a href="#" class="tag">blog</a>
							<a href="#" class="tag">facebook</a>
							<a href="#" class="tag">twitter</a>
							<a href="#" class="tag">chat</a>
							<a href="#" class="tag">design</a>
						</div>
						<!-- ==== TAGS END == -->

					</div>

					<!-- ==== SIDEBAR END == -->

					<!-- ==== BLOG START == -->

					<div class="col-sm-8">

						<!-- ==== POST START == -->

						<div class="post row">
							<div class="col-md-12">
								<img src="images/blog-article.jpg" alt="" class="img-responsive post-cover" />
								<div class="post-date">
									<div class="post-day">28</div>
									<div class="post-month">Sep</div>
								</div>
								<h1>Morbi nec quam sed elit pharetra</h1>
								<div class="meta">
									<span><i class="fa fa-user"></i><a href="#">John Doe</a></span>
									<span><i class="fa fa-tags"></i><a href="#">Chat</a>, <a href="#">Video</a></span>
									<span><i class="fa fa-comments"></i><a href="#">24</a></span>
								</div>
								<p class="intro">Praesent dui diam, vestibulum id mi at, iaculis accumsan ligula. Vivamus erat ligula, condimentum quis congue posuere, posuere id nisi. Pellentesque tempor sit amet arcu in mattis. Nullam congue, lectus vitae ultrices interdum, augue nibh lacinia ante, et tempus arcu tellus quis ligula. Aliquam congue ex vitae turpis fermentum, ac tempor nisi commodo. Ut ante turpis, pulvinar eu arcu eu, blandit blandit sapien. Proin sagittis nibh lectus, lobortis ultrices.</p>
								<blockquote>Etiam est sem, aliquam a congue id, porttitor et massa. Sed velit mauris, viverra non mi sit amet, tempor semper turpis. Etiam tempus porttitor pharetra. Mauris a aliquam nisl. Duis dignissim velit purus, quis rhoncus nisl fringilla id. Phasellus consectetur facilisis ex, ac interdum ipsum consequat in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Donec tincidunt in ipsum ut molestie.</blockquote>
								<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur eu leo elit. Aliquam dapibus porta tellus, dictum sodales turpis ultricies ac. Cras mattis erat sit amet porttitor vehicula. Vivamus ultrices sem nulla, eget sagittis eros pulvinar at. Proin pretium convallis magna dapibus iaculis. Nunc nisl mauris, commodo in eleifend in, commodo id mauris. Suspendisse efficitur vel odio viverra scelerisque. Praesent tempus tincidunt magna vitae volutpat. Mauris id rutrum felis. Nulla facilisi. Quisque et nunc interdum, faucibus diam eget, sodales nunc. Vivamus eu velit et neque consequat congue.</p>
								<p><a href="#" class="btn btn-primary">Back</a></p>
							</div>
						</div>

						<!-- ==== POST END == -->

						<!-- ==== COMMENTS START ==== -->
						<div class="row">
							<div class="col-sm-12">
								<h3>Comments</h3>
								<ul class="media-list">

									<li class="media">
										<a class="pull-left media-photo" href="#"><img class="media-object img-responsive" src="images/comment1.jpg" alt="" /></a>
										<div class="media-body">
											<h5 class="media-heading">John Doe<a href="#" class="pull-right"><i class="fa fa-reply"></i>Reply</a></h5>
											<p class="meta">
												<span><i class="fa fa-calendar"></i>April 27th, 2014</span>
											</p>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit id nisi non varius. Aliquam erat volutpat. Pellentesque in dolor vel tortor placerat rutrum. Aenean suscipit lacus nec adipiscing tristique. Mauris semper aliquam purus eu tempor. Etiam gravida, lorem vel imperdiet ullamcorper, est mauris lacinia elit, ut sollicitudin tellus erat et felis. Vestibulum id rhoncus sapien. Mauris scelerisque imperdiet mollis. Nullam eu volutpat urna, quis facilisis metus.</p>
											
											<div class="media" data-scroll-reveal>
												<a class="pull-left media-photo" href="#"><img class="media-object img-responsive" src="images/comment2.jpg" alt="" /></a>
												<div class="media-body">
													<h5 class="media-heading">Jane Doe<a href="#" class="pull-right"><i class="fa fa-reply"></i>Reply</a></h5>
													<p class="meta">
														<span><i class="fa fa-calendar"></i>April 27th, 2014</span>
													</p>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit id nisi non varius. Aliquam erat volutpat. Pellentesque in dolor vel tortor placerat rutrum. Aenean suscipit lacus nec adipiscing tristique. Mauris semper aliquam purus eu tempor. Etiam gravida, lorem vel imperdiet ullamcorper, est mauris lacinia elit, ut sollicitudin tellus erat et felis. Vestibulum id rhoncus sapien. Mauris scelerisque imperdiet mollis. Nullam eu volutpat urna, quis facilisis metus.</p>

													<div class="media" data-scroll-reveal>
														<a class="pull-left media-photo" href="#"><img class="media-object img-responsive" src="images/comment3.jpg" alt="" /></a>
														<div class="media-body">
															<h5 class="media-heading">John Doe<a href="#" class="pull-right"><i class="fa fa-reply"></i>Reply</a></h5>
															<p class="meta">
																<span><i class="fa fa-calendar"></i>April 27th, 2014</span>
															</p>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit id nisi non varius. Aliquam erat volutpat. Pellentesque in dolor vel tortor placerat rutrum. Aenean suscipit lacus nec adipiscing tristique. Mauris semper aliquam purus eu tempor. Etiam gravida, lorem vel imperdiet ullamcorper, est mauris lacinia elit, ut sollicitudin tellus erat et felis. Vestibulum id rhoncus sapien. Mauris scelerisque imperdiet mollis. Nullam eu volutpat urna, quis facilisis metus.</p>
														</div>
													</div>

												</div>
											</div>

										</div>
									</li>

									<li class="media" data-scroll-reveal>
										<a class="pull-left media-photo" href="#"><img class="media-object img-responsive" src="images/comment4.jpg" alt="" /></a>
										<div class="media-body">
											<h5 class="media-heading">Jane Doe<a href="#" class="pull-right"><i class="fa fa-reply"></i>Reply</a></h5>
											<p class="meta">
												<span><i class="fa fa-calendar"></i>April 27th, 2014</span>
											</p>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit id nisi non varius. Aliquam erat volutpat. Pellentesque in dolor vel tortor placerat rutrum. Aenean suscipit lacus nec adipiscing tristique. Mauris semper aliquam purus eu tempor. Etiam gravida, lorem vel imperdiet ullamcorper, est mauris lacinia elit, ut sollicitudin tellus erat et felis. Vestibulum id rhoncus sapien. Mauris scelerisque imperdiet mollis. Nullam eu volutpat urna, quis facilisis metus.</p>

											<div class="media" data-scroll-reveal>
												<a class="pull-left media-photo" href="#"><img class="media-object img-responsive" src="images/comment5.jpg" alt="" /></a>
												<div class="media-body">
													<h5 class="media-heading">John Doe<a href="#" class="pull-right"><i class="fa fa-reply"></i>Reply</a></h5>
													<p class="meta">
														<span><i class="fa fa-calendar"></i>April 27th, 2014</span>
													</p>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit id nisi non varius. Aliquam erat volutpat. Pellentesque in dolor vel tortor placerat rutrum. Aenean suscipit lacus nec adipiscing tristique. Mauris semper aliquam purus eu tempor. Etiam gravida, lorem vel imperdiet ullamcorper, est mauris lacinia elit, ut sollicitudin tellus erat et felis. Vestibulum id rhoncus sapien. Mauris scelerisque imperdiet mollis. Nullam eu volutpat urna, quis facilisis metus.</p>

													<div class="media" data-scroll-reveal>
														<a class="pull-left media-photo" href="#"><img class="media-object img-responsive" src="images/comment6.jpg" alt="" /></a>
														<div class="media-body">
															<h5 class="media-heading">John Doe<a href="#" class="pull-right"><i class="fa fa-reply"></i>Reply</a></h5>
															<p class="meta">
																<span><i class="fa fa-calendar"></i>April 27th, 2014</span>
															</p>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit id nisi non varius. Aliquam erat volutpat. Pellentesque in dolor vel tortor placerat rutrum. Aenean suscipit lacus nec adipiscing tristique. Mauris semper aliquam purus eu tempor. Etiam gravida, lorem vel imperdiet ullamcorper, est mauris lacinia elit, ut sollicitudin tellus erat et felis. Vestibulum id rhoncus sapien. Mauris scelerisque imperdiet mollis. Nullam eu volutpat urna, quis facilisis metus.</p>
														</div>
													</div>

												</div>
											</div>

										</div>
									</li>
								</ul>
							</div>
						</div>
						<!-- ==== COMMENTS END ==== -->

						<!-- ==== COMMENT FORM START ==== -->
						<div class="row">
							<div class="col-sm-12" data-scroll-reveal>
								<hr>
								<h3>Write a Comment</h3>
							</div>
						</div>
						<form role="form">
							<div class="row" data-scroll-reveal>
								<div class="form-group col-sm-6">
									<div class="input-group">
										<input type="text" class="form-control" id="input-comment-name" placeholder="Name">
										<div class="input-group-addon"><i class="fa fa-user"></i></div>
									</div>
								</div>
								<div class="form-group col-sm-6">
									<div class="input-group">
										<input type="email" class="form-control" id="input-comment-email" placeholder="Email">
										<div class="input-group-addon"><i class="fa fa-envelope"></i></div>
									</div>
								</div>
							</div>
							<div class="row" data-scroll-reveal>
								<div class="form-group col-sm-12">
									<textarea class="form-control" rows="5"></textarea>
								</div>
							</div>
							<div class="row" data-scroll-reveal>
								<div class="form-group col-sm-12">
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</div>
						</form>
						<!-- ==== COMMENTS FORM END ==== -->

					</div>

					<!-- ==== BLOG END == -->

				</div>
			</div>
		</section>

		<!-- ========== CONTENT END ========== -->

		<!-- ========== RELATED POSTS START ========== -->

		<section id="featured-posts" class="alt-background">
			<div class="container">
				
				<h2 class="text-center carousel-title">
					Related Posts
					<a href="#">View All Posts</a>
				</h2>

				<!-- OWL CAROUSEL START -->
				<div class="owl-carousel">
					
					<div class="item">
						<a href="#"><img src="images/sidebar-post1.jpg" alt="" class="img-responsive" /></a>
						<div class="post-date">
							<div class="post-day">3</div>
							<div class="post-month">Sep</div>
						</div>
						<h3><a href="#">Morbi nec quam sed elit pharetra</a></h3>
						<div class="meta">
							<span><i class="fa fa-user"></i><a href="#">John Doe</a></span>
							<span><i class="fa fa-tags"></i><a href="#">Chat</a>, <a href="#">Video</a></span>
							<span><i class="fa fa-comments"></i><a href="#">24</a></span>
						</div>
					</div>
					
					<div class="item">
						<a href="#"><img src="images/sidebar-post2.jpg" alt="" class="img-responsive" /></a>
						<div class="post-date">
							<div class="post-day">3</div>
							<div class="post-month">Sep</div>
						</div>
						<h3><a href="#">Morbi nec quam sed elit pharetra</a></h3>
						<div class="meta">
							<span><i class="fa fa-user"></i><a href="#">John Doe</a></span>
							<span><i class="fa fa-tags"></i><a href="#">Chat</a>, <a href="#">Video</a></span>
							<span><i class="fa fa-comments"></i><a href="#">24</a></span>
						</div>
					</div>
					
					<div class="item">
						<a href="#"><img src="images/sidebar-post3.jpg" alt="" class="img-responsive" /></a>
						<div class="post-date">
							<div class="post-day">3</div>
							<div class="post-month">Sep</div>
						</div>
						<h3><a href="#">Morbi nec quam sed elit pharetra</a></h3>
						<div class="meta">
							<span><i class="fa fa-user"></i><a href="#">John Doe</a></span>
							<span><i class="fa fa-tags"></i><a href="#">Chat</a>, <a href="#">Video</a></span>
							<span><i class="fa fa-comments"></i><a href="#">24</a></span>
						</div>
					</div>
					
					<div class="item">
						<a href="#"><img src="images/sidebar-post1.jpg" alt="" class="img-responsive" /></a>
						<div class="post-date">
							<div class="post-day">3</div>
							<div class="post-month">Sep</div>
						</div>
						<h3><a href="#">Morbi nec quam sed elit pharetra</a></h3>
						<div class="meta">
							<span><i class="fa fa-user"></i><a href="#">John Doe</a></span>
							<span><i class="fa fa-tags"></i><a href="#">Chat</a>, <a href="#">Video</a></span>
							<span><i class="fa fa-comments"></i><a href="#">24</a></span>
						</div>
					</div>
					
					<div class="item">
						<a href="#"><img src="images/sidebar-post2.jpg" alt="" class="img-responsive" /></a>
						<div class="post-date">
							<div class="post-day">3</div>
							<div class="post-month">Sep</div>
						</div>
						<h3><a href="#">Morbi nec quam sed elit pharetra</a></h3>
						<div class="meta">
							<span><i class="fa fa-user"></i><a href="#">John Doe</a></span>
							<span><i class="fa fa-tags"></i><a href="#">Chat</a>, <a href="#">Video</a></span>
							<span><i class="fa fa-comments"></i><a href="#">24</a></span>
						</div>
					</div>
					
					<div class="item">
						<a href="#"><img src="images/sidebar-post3.jpg" alt="" class="img-responsive" /></a>
						<div class="post-date">
							<div class="post-day">3</div>
							<div class="post-month">Sep</div>
						</div>
						<h3><a href="#">Morbi nec quam sed elit pharetra</a></h3>
						<div class="meta">
							<span><i class="fa fa-user"></i><a href="#">John Doe</a></span>
							<span><i class="fa fa-tags"></i><a href="#">Chat</a>, <a href="#">Video</a></span>
							<span><i class="fa fa-comments"></i><a href="#">24</a></span>
						</div>
					</div>

				</div>
				<!-- OWL CAROUSEL END -->

			</div>
		</section>

		<!-- ========== RELATED POSTS END ========== -->

		<!-- ========== LINKS START ========== -->

		<div id="links">
			<div class="container">
				<div class="row">

					<!-- ==== QUICK LINKS START == -->
					<div class="col-sm-3">
						<h3>Quick Links</h3>
						<nav>
							<ul>
								<li><a href="#"><i class="fa fa-angle-right"></i>All Courses</a></li>
								<li><a href="#"><i class="fa fa-angle-right"></i>Summer Sessions</a></li>
								<li><a href="#"><i class="fa fa-angle-right"></i>Professional Courses</a></li>
								<li><a href="#"><i class="fa fa-angle-right"></i>Our Teachers</a></li>
								<li><a href="#"><i class="fa fa-angle-right"></i>Privacy Policy</a></li>
								<li><a href="#"><i class="fa fa-angle-right"></i>Terms &amp; Conditions</a></li>
							</ul>
						</nav>
					</div>
					<!-- ==== QUICK LINKS END == -->

					<!-- ==== LATEST COURSES START == -->
					<div class="col-sm-3">
						<h3>Latest Courses</h3>
						<ul>
							<li>
								<img src="images/thumb-course1.jpg" alt="" class="pull-left" />
								<h5><a href="courses-details-right-sidebar.html">Web Design Basics</a></h5>
								<p class="author"><a href="teachers-profile.html">by John Doe</a></p>
							</li>
							<li>
								<img src="images/thumb-course2.jpg" alt="" class="pull-left" />
								<h5><a href="courses-details-right-sidebar.html">Web Development Basics</a></h5>
								<p class="author"><a href="teachers-profile.html">by John Doe</a></p>
							</li>
							<li>
								<img src="images/thumb-course3.jpg" alt="" class="pull-left" />
								<h5><a href="courses-details-right-sidebar.html">Photography Advanced Technics</a></h5>
								<p class="author"><a href="teachers-profile.html">by John Doe</a></p>
							</li>
						</ul>
					</div>
					<!-- ==== LATEST COURSES END == -->

					<!-- ==== POPULAR COURSES START == -->
					<div class="col-sm-3">
						<h3>Popular Courses</h3>
						<ul>
							<li>
								<img src="images/thumb-course4.jpg" alt="" class="pull-left" />
								<h5><a href="courses-details-right-sidebar.html">Web Design Basics</a></h5>
								<p class="author"><a href="teachers-profile.html">by John Doe</a></p>
							</li>
							<li>
								<img src="images/thumb-course5.jpg" alt="" class="pull-left" />
								<h5><a href="courses-details-right-sidebar.html">Web Development Basics</a></h5>
								<p class="author"><a href="teachers-profile.html">by John Doe</a></p>
							</li>
							<li>
								<img src="images/thumb-course6.jpg" alt="" class="pull-left" />
								<h5><a href="courses-details-right-sidebar.html">Photography Advanced Technics</a></h5>
								<p class="author"><a href="teachers-profile.html">by John Doe</a></p>
							</li>
						</ul>
					</div>
					<!-- ==== POPULAR COURSES END == -->

					<!-- ==== LATEST COMMENTS START == -->
					<div class="col-sm-3">
						<h3>Latest Comments</h3>
						<ul>
							<li>
								<p><a href="blog-article-right-sidebar.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut rutrum eros, a rutrum urna.</a></p>
								<p class="author"><a href="blog-article-right-sidebar.html">by John Doe</a></p>
							</li>
							<li>
								<p><a href="blog-article-right-sidebar.html">Donec lorem mi, eleifend sit amet varius vitae, ullamcorper et urna. Aliquam tincidunt tempus purus vitae laoreet.</a></p>
								<p class="author"><a href="blog-article-right-sidebar.html">by John Doe</a></p>
							</li>
						</ul>
					</div>
					<!-- ==== LATEST COMMENTS END == -->

				</div>
			</div>
		</div>

		<!-- ========== LINKS END ========== -->

		<!-- ========== PREFOOTER START ========== -->

		<div id="prefooter">
			<div class="container">
				<div class="row">

					<!-- ==== ABOUT START == -->
					<div class="col-sm-6">
						<h3>About Us</h3>
						<div class="row">
							<div class="col-sm-5">
								<p><img src="images/prefooter-about.jpg" alt="" class="img-responsive" /></p>
							</div>
							<div class="col-sm-7">
								<p>Morbi nec quam sed elit pharetra faucibus. Cras vel massa viverra ligula suscipit interdum eget nec est. Cras nibh mi, faucibus at ligula eu, eleifend tincidunt justo. Nunc porttitor massa at nisi condimentum fringilla. Nullam finibus, nibh eu hendrerit suscipit, tellus mi commodo lectus, sit amet dictum sem lorem sed neque.<br>
								<a href="#">Read More <i class="fa fa-angle-right"></i></a></p>
							</div>
						</div>
					</div>
					<!-- ==== ABOUT END == -->

					<!-- ==== APPLY FOR TEACHER START == -->
					<div class="col-sm-3">
						<h3>Apply for a Teacher</h3>
						<form role="form" name="teacher-form" id="teacher-form" action="process-teacher.php">
							<div class="form-group" id="teacher-name-group">
								<div class="input-group">
									<input type="text" class="form-control" id="teacher-input-name" placeholder="Name">
									<div class="input-group-addon"><i class="fa fa-user"></i></div>
								</div>
							</div>
							<div class="form-group" id="teacher-email-group">
								<div class="input-group">
									<input type="email" class="form-control" id="teacher-input-email" placeholder="Email">
									<div class="input-group-addon"><i class="fa fa-envelope"></i></div>
								</div>
							</div>
							<div class="form-group" id="teacher-phone-group">
								<div class="input-group">
									<input type="text" class="form-control" id="teacher-input-phone" placeholder="Phone">
									<div class="input-group-addon"><i class="fa fa-phone"></i></div>
								</div>
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
					<!-- ==== APPLY FOR TEACHER END == -->

					<!-- ==== CONTACT START == -->
					<div class="col-sm-3">
						<h3>Contact</h3>
						<p>Smartway Learning Centre<br>
						8699 Santa Monica Blvd<br>
						Los Angeles, CA 90069-4109</p>

						<p>Phone: <a href="tel:1800123456">1800-123-456</a><br>
						Fax: <a href="tel:1800123456">1800-123-456</a><br>
						Email: <a href="mailto:info@smartway.com">info@smartway.com</a></p>

						<p><a href="contact.html">Get Directions <i class="fa fa-angle-right"></i></a></p>
					</div>
					<!-- ==== CONTACT END == -->

				</div>
			</div>
		</div>

		<!-- ========== PREFOOTER END ========== -->

		<!-- ========== FOOTER START ========== -->

		<footer>
			<div class="container">
				<div class="row">

					<!-- ==== CREDITS START == -->
					<div class="col-sm-8">
						&copy; 2014 Smartway Theme by Coffeecream Themes
					</div>
					<!-- ==== CREDITS END == -->

					<!-- ==== SOCIAL ICONS START == -->
					<div class="col-sm-4 text-right">
						<a href="#"><i class="fa fa-facebook fa-lg"></i></a>
						<a href="#"><i class="fa fa-twitter fa-lg"></i></a>
						<a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
						<a href="#"><i class="fa fa-youtube fa-lg"></i></a>
					</div>
					<!-- ==== SOCIAL ICONS END == -->

				</div>
			</div>
		</footer>

		<!-- ========== FOOTER END ========== -->

		<!-- Modernizr Plugin -->
		<script src="js/modernizr.custom.97074.js"></script>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery-1.11.1.min.js"></script>

		<!-- Bootstrap Plugins -->
		<script src="js/bootstrap.min.js"></script>

		<!-- Retina Plugin -->
		<script src="js/retina-1.1.0.min.js"></script>

		<!-- Superslides Plugin -->
		<script src="js/jquery.easing.1.3.js"></script>
		<script src="js/jquery.animate-enhanced.min.js"></script>
		<script src="js/jquery.superslides.js"></script>

		<!-- Owl Carousel Plugin -->
		<script src="js/owl.carousel.min.js"></script>

		<!-- Parallax ImageScroll Plugin -->
		<script src="js/jquery.parallax-1.1.3.js"></script>

		<!-- Fancybox Plugin -->
		<script src="js/jquery.fancybox.js"></script>

		<!-- ImagesLoaded Plugin -->
		<script src="js/imagesloaded.pkgd.min.js"></script>

		<!-- Masonry Plugin -->
		<script src="js/masonry.pkgd.min.js"></script>

		<!-- Progressbar Plugin -->
		<script src="js/bootstrap-progressbar.js"></script>

		<!-- Scroll Reveal Plugin -->
		<script src="js/scrollReveal.js"></script>

		<!-- Magic Form Processing -->
		<script src="js/magic.js"></script>

		<!-- jQuery Settings -->
		<script src="js/settings.js"></script>

	</body>
</html>