{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Smartway - HTML Template">
    <meta name="author" content="Coffeecream Themes, info@coffeecream.eu">
    <title>{{ info.title }}</title>
    <link rel="shortcut icon" href="{% static 'frontend/images/favicon.png' %}">
    <!-- Main Stylesheet -->
    <link href="{% static 'frontend/css/style.css' %}" rel="stylesheet">
    
    {% block cssfiles %}
    {% endblock cssfiles %}
    
    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- ========== HEADER START ========== -->
    <header>
        <!-- ==== TOOLS START ==== -->
        <div class="tools">
            <div class="container">
                <ul class="pull-left">
                    <li><a href="tel:1800123456"><i class="fa fa-phone"></i><span>1800-123-456</span></a></li>
                    <li><a href="mailto:info@smartway.com"><i class="fa fa-envelope"></i><span>info@smartway.com</span></a></li>
                </ul>
                <nav class="pull-right">
                    {% if user.is_authenticated %}
                    <ul>
                        <li><a href="#"><i class="fa fa-user"></i><span>{{ user.username }}</span></a></li>
                        <li><a href="{% url 'students:logout' %}"><i class="fa fa-lock"></i><span>Log out</span></a></li>
                    </ul>
                    {% else %}
                    <ul>
                        <li><a href="{% url 'students:signup' %}"><i class="fa fa-user"></i><span>Register</span></a></li>
                        <li><a href="{% url 'students:login' %}"><i class="fa fa-lock"></i><span>Log In</span></a></li>
                    </ul>
                    {% endif %}
                </nav>
            </div>
        </div>
        <!-- ==== TOOLS END ==== -->
        <!-- ==== NAVBAR START ==== -->
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{% url 'home' %}" class="navbar-brand"><img src="{% static 'frontend/images/logo.png' %}" alt="Smartway - HTML Template" class="img-responsive logo" /></a>
                </div>
                <nav class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <!--<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="courses-list-left-sidebar.html">Courses List - Left Sidebar</a></li>
                                <li><a href="courses-list-right-sidebar.html">Courses List - Right Sidebar</a></li>
                                <li class="divider"></li>
                                <li><a href="courses-details-left-sidebar.html">Course Details - Left Sidebar</a></li>
                                <li><a href="courses-details-right-sidebar.html">Course Details - Right Sidebar</a></li>
                                <li class="divider"></li>
                                <li><a href="upcoming-exams-grid.html">Upcoming Exams - Grid</a></li>
                                <li><a href="upcoming-exams-left-sidebar.html">Upcoming Exams - Left Sidebar</a></li>
                                <li><a href="upcoming-exams-right-sidebar.html">Upcoming Exams - Right Sidebar</a></li>
                            </ul>
                        </li>-->
                        <li><a href="{% url 'about:index' %}">About</a></li>                        
                        <li><a href="{% url 'blog:index' %}">Blog</a></li>                        
                        <li><a href="{% url 'teachers:index' %}">Teachers</a></li>                        
                        <li><a href="{% url 'contact:index' %}">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- ==== NAVBAR END ==== -->
    </header>
    <!-- ========== HEADER END ========== -->
    <!-- ========== TITLE START ========== -->
    <div class="title">
        <div class="title-image"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">{{ page_title }}</div>
            </div>
        </div>
    </div>
    <!-- ========== TITLE END ========== -->
    {% block precontent %}
    {% endblock precontent %}
    <!-- ========== CONTENT START ========== -->
    
    <section id="content">
        <div class="container">
            <div class="row">
                {% block sidebar %}
                    <!-- ==== SIDEBAR START == -->

                    <div class="col-sm-4">

                        <!-- ==== CATEGORIES START == -->
                        <div class="widget" data-scroll-reveal>
                            <h3>Categories</h3>
                            <ul>
                                {% for category in list_category %}
                                    <li><a href="{% url 'category:index' category.pk %}"><i class="fa fa-arrow-right"></i><span>{{ category }}</span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- ==== CATEGORIES END == -->

                        <!-- ==== NEWSLETTER START == -->
                        <div class="widget" data-scroll-reveal>
                            <h3>Newsletter</h3>
                            <form role="form" name="newsletter-form" id="newsletter-form" action="process-newsletter.php">
                                <div class="form-group" id="newsletter-name-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="newsletter-input-name" placeholder="Name">
                                        <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                    </div>
                                </div>
                                <div class="form-group" id="newsletter-email-group">
                                    <div class="input-group">
                                        <input type="email" class="form-control" id="newsletter-input-email" placeholder="Email">
                                        <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                        <!-- ==== NEWSLETTER END == -->

                        <!-- ==== LATEST POSTS START == -->
                        <div class="widget" data-scroll-reveal>
                            <h3>Latest posts</h3>
                            {% for blog in list_lastest_post %}
                                <div class="post row">
                                    <div class="col-md-4">
                                        <a href="#"><img src="{{ blog.get_image_url }}" alt="" class="img-responsive" /></a>
                                    </div>
                                    <div class="col-md-8">
                                        <h5><a href="{% url 'blog:detail' blog.pk blog.slug %}">{{ blog }}</a></h5>
                                        <div class="meta">by {{ blog.teacher.profile.user.username }}</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- ==== LATEST POSTS END == -->
                    </div>

                    <!-- ==== SIDEBAR END == -->
                {% endblock %}

                {% block content %}                    
                {% endblock %}
            </div>
        </div>
    </section>
    
    <!-- ========== CONTENT END ========== -->
    <!-- ========== RELATED COURSES START ========== -->
    {% block related_subjects %}

    <section id="featured-posts" class="alt-background">
        <div class="container">
            
            <h2 class="text-center carousel-title">
                Related Courses
                <a href="#">View All Courses</a>
            </h2>

            <!-- OWL CAROUSEL START -->
            <div class="owl-carousel">
                
                <div class="item">
                    <a href="#"><img src="{% static 'frontend/images/course01.jpg' %}" alt="" class="img-responsive" /></a>
                    <h3><a href="#">Creative Website Design	and Development</a></h3>
                    <div class="meta">
                        <p><a href="#">by John Doe</a></p>
                        <p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
                    </div>
                    <div class="price">$39.90</div>
                </div>
                
                <div class="item">
                    <a href="#"><img src="{% static 'frontend/images/course02.jpg' %}" alt="" class="img-responsive" /></a>
                    <h3><a href="#">Introducing to Digital Photography</a></h3>
                    <div class="meta">
                        <p><a href="#">by John Doe</a></p>
                        <p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
                    </div>
                    <div class="price">$29.90</div>
                </div>
                
                <div class="item">
                    <a href="#"><img src="{% static 'frontend/images/course03.jpg' %}" alt="" class="img-responsive" /></a>
                    <h3><a href="#">Adobe Illustrator and Vector Design Basics</a></h3>
                    <div class="meta">
                        <p><a href="#">by John Doe</a></p>
                        <p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
                    </div>
                    <div class="price">$34.90</div>
                </div>
                
                <div class="item">
                    <a href="#"><img src="{% static 'frontend/images/course04.jpg' %}" alt="" class="img-responsive" /></a>
                    <h3><a href="#">Introduction to Search Engine Optimisation</a></h3>
                    <div class="meta">
                        <p><a href="#">by John Doe</a></p>
                        <p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
                    </div>
                    <div class="price">$27.90</div>
                </div>

            </div>
            <!-- OWL CAROUSEL END -->

        </div>
    </section>

    {% endblock related_subjects %}
    <!-- ========== RELATED COURSES END ========== -->

    <!-- ========== RELATED COURSES END ========== -->
    <!-- ========== LINKS START ========== -->
    <div id="links">
        <div class="container">
            <div class="row">
                <!-- ==== QUICK LINKS START == -->
                <div class="col-sm-3">
                    <h3>Quick Links</h3>
                    <nav>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i>All Courses</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Summer Sessions</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Professional Courses</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Our Teachers</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Privacy Policy</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Terms &amp; Conditions</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- ==== QUICK LINKS END == -->
                <!-- ==== LATEST COURSES START == -->
                <div class="col-sm-3">
                    <h3>Latest Courses</h3>
                    <ul>
                        {% for subject in list_lastest_subject %}
                            <li>
                                <img width="50px" height="50px" src="{{ subject.get_image_url }}" alt="" class="pull-left" />
                                <h5><a href="{% url 'subjects:detail' subject.pk %}">{{ subject.name }}</a></h5>
                                <p class="author"><a href="#">by {{ subject.course.creator.profile.user.username }}</a></p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- ==== LATEST COURSES END == -->
                <!-- ==== POPULAR COURSES START == -->
                <div class="col-sm-3">
                    <h3>Popular Courses</h3>
                    <ul>
                        {% for subject in list_popular_subject %}
                            <li>
                                <img width="50px" height="50px" src="{{ subject.get_image_url }}" alt="" class="pull-left" />
                                <h5><a href="{% url 'subjects:detail' subject.pk %}">{{ subject.name }}</a></h5>
                                <p class="author"><a href="#">by {{ subject.course.creator.profile.user.username }}</a></p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- ==== POPULAR COURSES END == -->
                <!-- ==== LATEST COMMENTS START == -->
                <div class="col-sm-3">
                    <h3>Latest Comments</h3>
                    {% if list_latest_comment %}
                    <ul>
                        {% for comment in list_latest_comment %}
                        <li>
                            <p><a href="blog-article-right-sidebar.html">{{ comment.content|truncatewords:19 }}</a></p>
                            <p class="author"><a href="#">by {{ comment.profile.user.username }}</a>, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>{{ comment.create_date|date:'D d M Y' }}</em></p>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <!-- ==== LATEST COMMENTS END == -->
            </div>
        </div>
    </div>
    <!-- ========== LINKS END ========== -->
    <!-- ========== PREFOOTER START ========== -->
    <div id="prefooter">
        <div class="container">
            <div class="row">
                <!-- ==== ABOUT START == -->
                <div class="col-sm-6">
                    <h3>About Us</h3>
                    <div class="row">
                        <div class="col-sm-5">
                            <p><img src="{% static 'frontend/images/prefooter-about.jpg' %}" alt="" class="img-responsive" /></p>
                        </div>
                        <div class="col-sm-7">
                            <p>Morbi nec quam sed elit pharetra faucibus. Cras vel massa viverra ligula suscipit interdum eget nec est. Cras nibh mi, faucibus at ligula eu, eleifend tincidunt justo. Nunc porttitor massa at nisi condimentum fringilla. Nullam finibus, nibh eu hendrerit suscipit, tellus mi commodo lectus, sit amet dictum sem lorem sed neque.
                                <br>
                                <a href="{% url 'about:index' %}">Read More <i class="fa fa-angle-right"></i></a></p>
                        </div>
                    </div>
                </div>
                <!-- ==== ABOUT END == -->
                <!-- ==== APPLY FOR TEACHER START == -->
                <div class="col-sm-3">
                    <h3>Apply for a Teacher</h3>
                    <form role="form" name="teacher-form" id="teacher-form" action="process-teacher.php">
                        <div class="form-group" id="teacher-name-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="teacher-input-name" placeholder="Name">
                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                            </div>
                        </div>
                        <div class="form-group" id="teacher-email-group">
                            <div class="input-group">
                                <input type="email" class="form-control" id="teacher-input-email" placeholder="Email">
                                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                            </div>
                        </div>
                        <div class="form-group" id="teacher-phone-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="teacher-input-phone" placeholder="Phone">
                                <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <!-- ==== APPLY FOR TEACHER END == -->
                <!-- ==== CONTACT START == -->
                <div class="col-sm-3">
                    <h3>Contact</h3>
                    <p>Smartway Learning Centre
                        <br> 8699 Santa Monica Blvd
                        <br> Los Angeles, CA 90069-4109</p>
                    <p>Phone: <a href="tel:1800123456">1800-123-456</a>
                        <br> Fax: <a href="tel:1800123456">1800-123-456</a>
                        <br> Email: <a href="mailto:info@smartway.com">info@smartway.com</a></p>
                    <p><a href="{% url 'contact:index' %}">Get Directions <i class="fa fa-angle-right"></i></a></p>
                </div>
                <!-- ==== CONTACT END == -->
            </div>
        </div>
    </div>
    <!-- ========== PREFOOTER END ========== -->
    <!-- ========== FOOTER START ========== -->
    <footer>
        <div class="container">
            <div class="row">
                <!-- ==== CREDITS START == -->
                <div class="col-sm-8">
                    &copy; 2015 Framgia VN
                </div>
                <!-- ==== CREDITS END == -->
                <!-- ==== SOCIAL ICONS START == -->
                <div class="col-sm-4 text-right">
                    <a target="_blank" href="https://www.facebook.com/FramgiaVietnam/?fref=ts"><i class="fa fa-facebook fa-lg"></i></a>
                    <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                    <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                    <a href="#"><i class="fa fa-youtube fa-lg"></i></a>
                </div>
                <!-- ==== SOCIAL ICONS END == -->
            </div>
        </div>
    </footer>
    <!-- ========== FOOTER END ========== -->

    <!-- Modernizr Plugin -->
    <script src="{% static 'frontend/js/modernizr.custom.97074.js' %}"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'frontend/js/jquery-1.11.1.min.js' %}"></script>
    <!-- Bootstrap Plugins -->
    <script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
    <!-- Retina Plugin -->
    <script src="{% static 'frontend/js/retina-1.1.0.min.js' %}"></script>
    <!-- Superslides Plugin -->
    <script src="{% static 'frontend/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'frontend/js/jquery.animate-enhanced.min.js' %}"></script>
    <script src="{% static 'frontend/js/jquery.superslides.js' %}"></script>
    <!-- Owl Carousel Plugin -->
    <script src="{% static 'frontend/js/owl.carousel.min.js' %}"></script>
    <!-- Parallax ImageScroll Plugin -->
    <script src="{% static 'frontend/js/jquery.parallax-1.1.3.js' %}"></script>
    <!-- Fancybox Plugin -->
    <script src="{% static 'frontend/js/jquery.fancybox.js' %}"></script>
    <!-- ImagesLoaded Plugin -->
    <script src="{% static 'frontend/js/imagesloaded.pkgd.min.js' %}"></script>
    <!-- Masonry Plugin -->
    <script src="{% static 'frontend/js/masonry.pkgd.min.js' %}"></script>
    <!-- Progressbar Plugin -->
    <script src="{% static 'frontend/js/bootstrap-progressbar.js' %}"></script>
    <!-- Scroll Reveal Plugin -->
    <script src="{% static 'frontend/js/scrollReveal.js' %}"></script>
    <!-- Magic Form Processing -->
    <script src="{% static 'frontend/js/magic.js' %}"></script>
    <!-- jQuery Settings -->
    <script src="{% static 'frontend/js/settings.js' %}"></script>

    {% block jsfiles %}        
    {% endblock jsfiles %}
</body>

</html>
